.title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    color: orange;
    margin-bottom: 50px;
    float: left;
  }
  
    
.header {
    width: 100%;
    font-size: 2rem;
    color: orange;
    margin-bottom: 10px;
  }
  
  
  .scores {
    float: right;
  }
